* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', 'sans-serif';
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #85A6D4;
}

.hero {
    max-width: 690px;
    width: 100%;
    padding: 30px;
    text-align: center;
    background: #fff;
}

.hero p {
    font-size: 13px;
}

.hero button {
    width: 30%;
    padding: 14px;
    border: none;
    margin-top: 9px;
    font-size: 17px;
    background: #85A6D4;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
}

.hero .button {
    padding: 12px 0;
}

.button,
li,
i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button .row select {
    color: #333;
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid #080808;
    background: none;
}

.button .change {
    color: #002fa7;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button i:active {
    transform: scale(0.9);
}

.groupy {
    border: 2px solid #080808;
    background: #E0FFFF;
}

.groupy .text-input {
    display: flex;
}

.text-input .to-text {
    border-left: 2px solid #080808;
}

.text-input textarea {
    resize: none;
    height: 100px;
    width: 100%;
    background: none;
    border: none;
    font-size: 18px;
    padding: 10px 15px;
}